<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

<nav>
  <% include ./partials/nav.ejs %>
</nav>

<div class="vimeo-wrapper">
   <iframe src="https://player.vimeo.com/video/71336599?background=1&autoplay=1&loop=1&byline=0&title=0"
           frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
<div class="container">
  <div class="info">
    Welcome to the Save A Paw app! The app was built to save rescues and catalog and share our furry four legged friends. We share them as a community and in hope to find them a forever home.

  </div>
<% for(let i = 0; i < pets.length; i++){ %>

<div class="row">
    <div class="column feature">

            <div class="holder">
            <a href="/pets/<%=pets[i].id; %>">
                <%=pets[i].name; %><br>
            </a>
            </div>
            <div class="holder">
                <%=pets[i].description; %>
            </div>
            <div class="holder">
              <img src="<%=pets[i].img; %>" alt="">
            </div>
            <div class="holder">
              <%=pets[i].age; %>
            </div>
            <div class="holder">
            <%=pets[i].gender; %>
            </div>
            <div class="holder">
          <a href="<%=pets[i].link; %>"> Adoption Link </a>
            </div>
            <div class="holder">
              <img class="heart" src="https://www.freepngimg.com/thumb/heart/2-2-heart-png-hd.png" alt=""><%=pets[i].likes; %>
            </div>
        </div>
        </div>

              <% } %>

  </div>


        </div>
        </div>
        <footer>
            <div class="footertext">
              Made By A Pug Lover!
            </div>
            <div class="footertext">
          <a href="https://secure.aspca.org/donate/ps-gn-20190717-p2?ms=MP_PMK_Googlebrand-T4&initialms=MP_PMK_Googlebrand-T4&pcode=WPSE9XXGOGN2PK00014&lpcode=WPSE9XXGOGN1PK00014&test&ds_rl=1066461&gclid=Cj0KCQjwhJrqBRDZARIsALhp1WSTk_HmQIWQw1wHd17WDZRt3xe3ZuCxIHJ2myjDiAphwZh67PuhvpEaAt8CEALw_wcB&gclsrc=aw.ds">Donate To The ASPCA</a>
            </div>
  </footer>
      </body>


  </body>
</html>
