<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <nav>
      <% if(currentUser) { %>
        Welcome <%=currentUser.username%>!
        <div>
            <a href="/pets/new">Admin</a>
        </div>
          <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
          </form>
            <% } else { %>
              <a  href="/users/new">Sign Up</a></h2>
              <a  href="/sessions/new">Log In</a>
            <% } %>
    </nav>
    <div class="container">

        <% for(let i = 0; i < pets.length; i++){ %>
          <div class="display">
      <div class="holder">
            <a href="/pets/<%=pets[i].id; %>">
                <%=pets[i].name; %><br>
            </a>
            </div>
            <div class="holder">
                <%=pets[i].description; %>
            </div>
            <div class="holder">
              <img src="<%=pets[i].img; %>" alt="">
            </div>
            <div class="holder">
              <%=pets[i].age; %>
            </div>
            <div class="holder">
            <%=pets[i].gender; %>
            </div>
            <div class="holder">
          <a href="<%=pets[i].link; %>"> Adoption Link </a>
            </div>
            <div class="holder">
                <%=pets[i].likes; %>
            </div>
              <% } %>
            </div>
</div>
      </body>


  </body>
</html>
