<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
    <body>
      <nav>
        <% include ./partials/nav.ejs %>
      </nav>
      <header>
          <h1> Pet Page</h1>
      </header>
          <div class="containerThree">
      <div class="displaytwo">

        <h2><%=pets.name; %></h2>

        <div class="vision">
            <h3>Description</h3>
          <%=pets.description; %>
        </div>
        <div class="vision">
          <img src="<%=pets.img; %>" alt="">
        </div>
        <div class="vision">
        Gender: <%=pets.gender; %>
        </div>
        <div class="vision">
          Age: <%=pets.age; %>
        </div>
        <div class="vision">
          <a href="<%=pets.link; %>">Adoption Link</a>
        </div>
        <div class="vision">
          <%=pets.like; %>
        </div>

          <form action="/pets/like/<%=pets.id;%>?_method=PUT" method="POST">
                <input type="submit" value="Like"/>
          </form>
          <% if(currentUser) { %>

          <form action="/pets/<%=pets.id;%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
          </form>
          <%}%>
          <br>
          <div ><a class="edit" href="/pets/<%=pets.id;%>/edit">Edit</a></div>

          <br>
          <div class="footertext">
            <a href="/pets">Back to Pets</a>
          </div>

      </div>
    </div>
    <footer>
        <div class="footertext">
          Made By A Pug Lover!
        </div>
        <a href="https://secure.aspca.org/donate/ps-gn-20190717-p2?ms=MP_PMK_Googlebrand-T4&initialms=MP_PMK_Googlebrand-T4&pcode=WPSE9XXGOGN2PK00014&lpcode=WPSE9XXGOGN1PK00014&test&ds_rl=1066461&gclid=Cj0KCQjwhJrqBRDZARIsALhp1WSTk_HmQIWQw1wHd17WDZRt3xe3ZuCxIHJ2myjDiAphwZh67PuhvpEaAt8CEALw_wcB&gclsrc=aw.ds">Donate To The ASPCA</a>
          </div>
</footer>
    </body>
</html>
